*{
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    color: #1A3D64;
    padding: 5px;
}

header{
    text-align: center;
}

span{
    background-color:#5C3E94;
    color: #211832;
    padding: 5px;
    margin: 10px 20px;
    border: 2px solid #FF3F7F;
    border-radius: 5px;
}
section{
    display:flex;
    justify-content: center;
}
main{
    display:flex;
    margin-top: 10px
}
div{
    border: 1px solida black;
    border-radius: 15px;
    padding: 5px;
    margin: 10px;
}
img{
    width: 200px;
}